<div class="single-wid-product">
  <%= link_to display_first_image_product(product, Settings.size_image_medium, "product-thumb"),
              product_path(product) %>
  <h2><%= link_to product.name, product_path(product) %></h2>
  <div class="product-wid-rating">
    <%= display_star_html get_avg_star(product) %>
  </div>
  <div class="product-wid-price">
    <ins><%= get_avg_cost_product product %></ins>
  </div>
</div>
