<% provide :url, admin_order_path(@order) %>
<h1><%= t ".edit_order" %></h1>

<%= render "form", order: @order %>

<%= link_to t("admin.button.show"), admin_order_path(@order) %>
|
<%= link_to t("admin.button.back"), admin_orders_path %>
