$white-f1: #f1f1f1;
$white-f4: #f4f4f4;
$white-fb: #fbfbfb;
$white-d: #ddd;
$white: #fff;
$white-ea: #eaeaea;
$white-e5: #e5e5e5;
$green: #1bd172;
$gray: #666666;
$yellow: #ffd900;
$yellow-light: #ffc808;
$yellow-dark: #feae52;
$red: red;
$orange: #fa8072;
$orange-light: #f95f5f;
$blue-light-light: #4abebd;
$blue-light: #5a88ca;
$black: #222;
$black-gray: #333;
$black-dark: #000;
$black-light: #555;
$black-light-light: #6a6a6a;
$black-light-light-light: #888;
$night: #999;
$black-light-dark: #666;
