<% provide :url, admin_product_detail_path(@product_detail) %>
<div class="row">
  <div class="col-md-12">
    <div class="product-content-right">
      <div class="woocommerce">
        <%= render "form", product_detail: @product_detail %>
    </div>
  </div>
</div>

<div class="links-page">
  <%= link_to t("admin.button.show"),
                  admin_product_detail_path(@product_detail) %>
  |
  <%= link_to t("admin.button.back"),
                  admin_product_path(@product_detail.product) %>
</div>
