<% provide :url, admin_product_detail_path(@product_detail) %>
<div class="row">
  <div class="col-md-12">
    <div class="product-content-right">
      <div class="woocommerce">
        <%= render "form", product_detail: @product_detail %>
      <br>
      <%= link_to button_to(t("admin.button.show")),
                  admin_product_detail_path(@product_detail) %>
      <br>
      <br>
      <%= link_to button_to(t("admin.button.back")),
                  admin_product_path(@product_detail.product) %>
      <br>
    </div>
  </div>
</div>
